* {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Pretendard';
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }

        .chat-container {
            width: 394px;
            max-width: 100%;
            background-color: #FFFFFF;
            position: relative;
            min-height: 100vh;
            box-sizing: border-box;
        }

        /* 상단 고정바 */
        .header {
            background-color: #C9D0EA;;
            top: 0;
            z-index: 999;
            position: sticky;
            border-bottom: 1px solid #BDC3DC;
        }

        .status-bar {
            height: 16px;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 11px;
        }

        .header-content {
            height: 42px;
            padding: 1px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;        
        }

        .header-left {
            display: flex;
            align-items: center;
            gap: 16px;
            position: absolute;  
            left: 16px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 36L18 24L30 12' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .back-button {
            font-size: 22px;
            color: #000000;
            cursor: pointer;
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .header-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            }

        .title-row {
            display: flex;
            align-items: center;
            font-weight: bold;
            gap: 0px;
        }

        .chat-name {
            font-size: 15px;
            font-weight: bold;
            color: #0E0E10;
        }

        .dropdown-icon {
            width: 15px;
            height: 15px;
            color: #646774;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18L24 30L36 18' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .days-together {
            font-size: 10.5px;
            color: #50535D;
        }

        .search-button {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;  
            right: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 35L27.75 27.75M31.6667 18.3333C31.6667 25.6971 25.6971 31.6667 18.3333 31.6667C10.9695 31.6667 5 25.6971 5 18.3333C5 10.9695 10.9695 5 18.3333 5C25.6971 5 31.6667 10.9695 31.6667 18.3333Z' stroke='%231E1E1E' stroke-width='3.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .search-icon {
            width: 20px;
            height: 20px;
        }

        .search-bar {
            width: calc(100% - 80px);
            margin: 8px 16px;
            padding: 8px 12px;
            border-radius: 20px;
            border: 1px solid #C0C4D3;
            font-size: 14px;
            display: none; /* 기본은 숨김 */
            outline: none;
            background: #FFFFFF;
            box-sizing: border-box;
        }


        /* 날짜 구분 바 */
        .date-divider {
            display: flex;
            justify-content: center;
            padding: 4px 0;
            background-color: transparent;
        }

        .date-badge {
            background-color: #D3D9EE;
            padding: 4px 12px;
            border-radius: 12px;
            font-size: 10px;
            color: #2A2B2F;
            text-align: center;
            margin-bottom: 20px;
        }

        /* 채팅 영역 */
        .chat-messages {
            padding: 18px;
            background-color: #C9D0EA;
        }

        .message-group {
            margin-bottom: 14px;
        }

        .message-row {
            display: flex;
            gap: 6px;
            margin-bottom: 4px;
        }

        .message-row.continued {
            margin-bottom: 4px;
            margin-left: 36px;  
        }

        .profile-pic {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #151515;
            flex-shrink: 0;
        }

        .profile-pic img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

        .message-content {
            flex: 1;
        }

        .message-header {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 6px;
            padding-left: 0px;
        }

        .sender-name {
            font-size: 15px;
            font-weight: 500;
            color: #28292F;
        }

        .message-time {
            font-size: 12px;
            color: #28292F;
        }

        .message-bubble {
            background-color: #FFFFFF;
            padding: 6px 13px 6px 13px;
            border-radius: 18px;
            max-width: 239px;
            margin-left: 0px;
            display: inline-block;
        }

        .message-bubble.small {
            padding: 6px 13px 6px 13px;
            border-radius: 28px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .message-text {
            font-size: 14.9px;
            line-height: 22px;
            color: #151515;
            word-wrap: break-word;
        }

        /* 답장 스타일 */
        .reply-bubble {
            background-color: #FFFFFF;
            padding: 13px 13px 9px 15px;
            border-radius: 20px;
            max-width: 239px;
            margin-left: 0px;
            display: inline-block;
        }

        .reply-header {
            font-size: 13px;
            font-weight: 550;
            color: #454545;
            margin-bottom: 2px;
        }

        .reply-quoted {
            font-size: 13px;
            color: #999999;
            margin-bottom: 6px;
        }

        .reply-text {
            font-size: 14.9px;
            line-height: 22px;
            color: #000000;
            display: flex;
            align-items: flex-start;
            gap: 3px;
        }

        .reply-arrow {
            display: inline-block;
            width: 14.9px;
            height: 14.9px;
            flex-shrink: 0;
            transform: translateY(3px); /* 화살표만 살짝 아래로 */
    
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M30 20L40 30M40 30L30 40M40 30H16C13.8783 30 11.8434 29.1571 10.3431 27.6569C8.84285 26.1566 8 24.1217 8 22V8' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
        }

        /* 이미지 스타일 */
        .message-image {
            margin-left: 0px;
            border-radius: 18px;
            overflow: hidden;
        }

        .message-image.landscape {
            width: 284px;
            height: auto;
        }

        .message-image.portrait {
            width: 174px;
            max-height: 400px;
        }

        .message-image.square {
            width: 284px;
            height: 284px;
        }

        .message-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* 동영상 스타일 */
        .message-video {
            margin-left: 0px;
            width: 174px;
            max-height: 400px;
            border-radius: 18px;
            overflow: hidden;
            position: relative;
            background-color: #000;
            margin-bottom: 4px;
        }

        .video-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            background: rgba(0, 0, 0, 0.45);
            height: auto;
            padding: 0 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }

        .video-play-icon {
            font-size: 12px;
            color: #FFFFFF;
        }

        .video-time {
            font-size: 12px;
            position: absolute;
            bottom: 8px;
            right: 8px;
            color: #FFFFFF;
            background: rgba(0, 0, 0, 0.6);
            padding: 2px 6px;
            border-radius: 4px;
        }

        /* 종료된 라이브 */
        .live-ended {
            margin-left: 0px;
            width: 185px;
            background-color: #FFFFFF;
            border-radius: 17px;
            padding: 6.5px 10px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .live-icon-circle {
            width: 30px;
            height: 30px;
            background-color: #7F7F7F;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            position: relative;
        }

        .phone-icon {
            width: 13px;
            height: 13px;
            filter: grayscale(100%);
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.1469 24.8668V29.8668C33.1487 30.331 33.0537 30.7904 32.8677 31.2157C32.6818 31.641 32.409 32.0228 32.067 32.3366C31.725 32.6504 31.3212 32.8893 30.8814 33.038C30.4417 33.1867 29.9758 33.2419 29.5135 33.2002C24.3849 32.6429 19.4585 30.8904 15.1302 28.0835C11.1032 25.5246 7.68909 22.1104 5.13019 18.0835C2.31349 13.7355 0.560599 8.78515 0.0135278 3.63349C-0.0281213 3.17261 0.0266527 2.7081 0.174362 2.26954C0.322071 1.83098 0.559479 1.42798 0.871471 1.0862C1.18346 0.744417 1.5632 0.471344 1.98651 0.284365C2.40982 0.0973859 2.86743 0.000597386 3.33019 0.000161587H8.33019C9.13904 -0.00779916 9.92318 0.278626 10.5365 0.806049C11.1497 1.33347 11.5503 2.06591 11.6635 2.86683C11.8746 4.46694 12.2659 6.03804 12.8302 7.55016C13.0544 8.1467 13.103 8.79502 12.97 9.41829C12.8371 10.0416 12.5283 10.6137 12.0802 11.0668L9.96353 13.1835C12.3361 17.3561 15.791 20.8109 19.9635 23.1835L22.0802 21.0668C22.5333 20.6187 23.1054 20.3099 23.7287 20.177C24.352 20.0441 25.0003 20.0926 25.5969 20.3168C27.109 20.8811 28.6801 21.2725 30.2802 21.4835C31.0898 21.5977 31.8292 22.0055 32.3577 22.6293C32.8863 23.2531 33.1671 24.0495 33.1469 24.8668Z' fill='white'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            z-index: 2;
        }

        .live-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .live-status {
            font-size: 11px;
            color: #999999;
        }

        .live-title {
            font-size: 15px;
            font-weight: 500;
            color: #121212;
        }

        /* 음성 메시지 */
        .voice-message {
            margin-left: 0px;
            display: flex;
            gap: 2px;
            margin-bottom: 4px;
        }

        .voice-main {
            width: 153px;
            height: 46.5px;
            background-color: #FFFFFF;
            border-radius: 14px 4px 4px 14px;
            display: flex;
            align-items: center;
            padding-left: 11px;
            gap: 9px;
        }

        .play-button {
            width: 28px;
            height: 28px;
            border: 1px solid #EFEFEF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .play-icon {
            width: 14.5px;
            height: 14.5px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateX(1px);
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L38 24L10 42V6Z' fill='black' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        .voice-playing .play-icon {
            width: 13px;
            height: 13px;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.46667 0.8H0.8V11.4667H3.46667V0.8Z' fill='black'/%3E%3Cpath d='M8.8 0.8H6.13333V11.4667H8.8V0.8Z' fill='black'/%3E%3Cpath d='M3.46667 0.8H0.8V11.4667H3.46667V0.8Z' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.8 0.8H6.13333V11.4667H8.8V0.8Z' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }


        .progress-bar-container {
            position: relative;
            width: 60px;
            height: 3.5px;
            background-color: #B2B2B2;
            border-radius: 2px;
        }

        .progress-bar-fill {
            height: 100%;
            background-color: #000;
            border-radius: 2px;
            width:0%;
        }

        .progress-handle {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #000;
            border-radius: 50%;
            top: -2px;
            left: 0%;
        }

        .voice-time {
            font-size: 13px;
            color: #151515;
        }

        .voice-expand {
            width: 41px;
            height: 46.5px;
            background-color: #FFFFFF;
            border-radius: 4px 14px 14px 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .expand-icon {
            display: inline-block;
            width: 17px;
            height: 17px;
            flex-shrink: 0;
            transform: translateY(0px); /* 위치조절 */
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M30 6H42M42 6V18M42 6L28 20M18 42H6M6 42V30M6 42L20 28' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
        }
