* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #FAFAFA;
    overflow-x: hidden;
    min-height: 100vh;

}

.scale-wrapper {
    width: 100%;
    max-width: 394px;
    transform-origin: top center;
}

/* ① 모바일: 줄어듦 */
@media (max-width: 394px) {
    .scale-wrapper {
        transform: scale(calc(100vw / 394));
    }
}

/* ② 태블릿 세로: 화면 기준으로 커지거나 작아짐 */
@media (min-width: 395px) and (max-width: 1024px) and (orientation: portrait) {
    .scale-wrapper {
        transform: scale(calc(100vw / 394));
    }
}

/* ③ PC & 태블릿 가로: 화면 1/3 너비까지 확대 허용 */
@media (min-width: 768px) and (orientation: landscape),
       (min-width: 1025px) {
    .scale-wrapper {
        transform: scale(calc(min(100vw / 3, 100vh * 0.8) / 394));
    }
}


