* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    background: #FAFAFA;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

.scale-wrapper {
    width: 100%;
    max-width: 768px;
    transform-origin: top center;
}

/* ① 모바일: 줄어듦 */
@media (max-width: 394px) {
    .scale-wrapper {
        transform: scale(calc(100vw / 394));
    }
}

/* ② 태블릿 세로: 화면 기준으로 커지거나 작아짐 */
@media (min-width: 395px) {
    .scale-wrapper {
        transform: none;
    }
}


