* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family:
      'Pretendard JP Variable',
      'Pretendard JP',
      'Pretendard Variable',
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif;
      

    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    min-height: 100vh;
    
}

.scale-wrapper {
    width: 394px;
    transform-origin: top center;
}

#bst-root {
    width: 394px;
    background-color: #151515;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scale-wrapper {
    transform: scale(calc(100vw / 394));
}

@media (min-width: 768px) and (orientation: landscape),
       (min-width: 1025px) {
    .scale-wrapper {
        transform: scale(calc(min(100vw / 3, 100vh * 0.8) / 394));
    }
}

.tab-content {
    display: none;
}