.contents-section-post {
    padding: 24px 16px;
}

.section-post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 26px;
}

.content-post-name {
    color: #EEEEEE;
    font-size: 30px;
    font-weight: bold;
}

.content-post-meta {
    color: #999;
    font-size: 12px;
}
.contents-post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 12px;
}

.content-post-card {
    position: relative;
    width: 176px;
    height: 99px;
    aspect-ratio: 1;
    border-radius: 6px;
    overflow: hidden;
}

.content-post-card:nth-child(3n+1) {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.content-post-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}

.content-post-date {
    font-size: 12px;
    font-weight: 500;
    color: #EEEEEE;
    margin-bottom: 4px;
}

.content-post-item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
