/* 컨텐츠 포스트 - 이미지 */
.post-img-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6px;
    margin-bottom: 24px;
}

.post-img-card {
    width: 362px;
    height: 330px;
    background-color: #fa709a;
}

.post-img-info{
    padding-top: 20px;
    padding-bottom: 32px;
}

.post-img-title {
    font-size: 28px;
    font-weight: 600;
    color: rgb(238, 238, 238);
    padding-bottom: 12px;
}

.post-img-time {
    font-size: 13px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

.post-img-tags {
  display: flex;
  flex-wrap: wrap;   
  gap: 8px;          
}

.post-img-tag {
  font-size: 15px;
  font-weight: 400;
  color: rgb(0, 144, 255);
}
