.contents-hero {
    position: relative;
    width: 100%;
    height: auto;     
    display: block;
    overflow: hidden;
    padding-top: 48px;
}

.contents-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top,
    rgba(0,0,0,1) 45%,
    rgba(0,0,0,0.7) 53%,
    rgba(0,0,0,0.3) 60%,
    rgba(0,0,0,0) 70%
    );
    pointer-events: none;
    z-index: 1;
}

.contents-hero-img {
    width: 394px;
    height: 222px;
    object-fit: cover;
    z-index: 0;
}

.contents-hero-item{
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 24px;
    z-index: 10;
}

/* 텍스트 기본 */
.contents-hero-text {
    padding: 24px 16px 32px 16px;
    text-align: center;
    z-index: 10;
}

/* 상세 */
.contents-hero-exp-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    cursor: pointer;
    z-index: 10;
}

.contents-hero-exp {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}

.contents-hero-exp-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2937 0.509005C10.0204 0.235684 9.57683 0.235776 9.30345 0.509005C9.03037 0.782395 9.03018 1.22596 9.30345 1.49923L15.0052 7.20097L9.70603 12.5001C9.43297 12.7735 9.43289 13.2171 9.70603 13.4904C9.97932 13.7635 10.4229 13.7634 10.6963 13.4904L16.3317 7.85491C16.3578 7.82878 16.3796 7.7996 16.4008 7.77066C16.4321 7.74837 16.4631 7.72483 16.4912 7.69677C16.7644 7.42344 16.7644 6.97988 16.4912 6.70655L10.2937 0.509005Z' fill='%23BABABA'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 13px;
    display: inline-block;
}

 /* 메인 */ 
.contents-hero-title{
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 10;
}

 /* 상단 카드 */
.contents-thumbnails {
    display: flex;
    gap: 6px;
    padding: 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 16px;
    z-index: 10;
}

.contents-thumbnails::-webkit-scrollbar {
    display: none;
}

.contents-thumbnails img {
    width: 98px;
    height: 56px;
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
}

.contents-thumbnails img.active {
    opacity: 1;
    outline: 2px solid #eee;
    outline-offset: -2px;
}


/* 태그바 */
.contents-tagbar {
    display: flex;
    gap: 10px;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 12px 16px;   
    border-top: 0.8px solid rgba(255, 255, 255, 0.04);
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.04);
}

.contents-tagbar::-webkit-scrollbar {
    display: none;
}
.contents-tagbar-wrap {
    position: relative;
}

/* 태그바 페이드 */
.contents-tagbar-wrap::before,
.contents-tagbar-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.2s ease;
}


/* 왼쪽 페이드 */
.contents-tagbar-wrap::before {
    left: 0;
    background: linear-gradient(
        to right,
        rgba(21, 21, 21, 0.7),
        rgba(0, 0, 0, 0)
    );
}

/* 오른쪽 페이드 */
.contents-tagbar-wrap::after {
    right: 0;
    background: linear-gradient(
        to left,
        rgba(21, 21, 21, 0.7),
        rgba(0, 0, 0, 0)
    );
}

.contents-tagbar-wrap.fade-left::before,
.contents-tagbar-wrap.fade-right::after {
    opacity: 1;
}


.tag-btn {
    background-color: transparent;
    border: 0.8px solid rgba(255, 255, 255, 0.1);
    color: rgb(186, 186, 186);
    font-size: 12px;
    font-weight: 400;
    padding: 10px 16px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
}

.contents-icon-tag {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.2068 12.449C22.9876 13.2301 22.9878 14.4965 22.2068 15.2774L15.2773 22.2069C14.4964 22.9879 13.23 22.9877 12.4489 22.2069L4.75633 14.5144C4.34292 14.101 4.13077 13.527 4.17628 12.9441L4.67761 6.51662C4.75425 5.53504 5.53428 4.75528 6.51581 4.67842L12.944 4.1764C13.5269 4.1309 14.1009 4.34304 14.5143 4.75645L22.2068 12.449ZM11.034 8.34723C10.292 7.60523 9.08841 7.60523 8.34642 8.34723C7.6047 9.08925 7.6052 10.2922 8.34711 11.0341C9.08903 11.7757 10.2914 11.7757 11.0333 11.0341C11.7752 10.2922 11.7757 9.08925 11.034 8.34723Z' fill='%23999999'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.tag-btn:hover {
    background-color: rgba(238, 238, 238, 0.05);
}


/* 컨텐츠 */
.contents-section {
    padding: 20px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px;
    margin-bottom: 12px;
}

.section-header-title {
    color: rgb(238, 238, 238);
    font-size: 18px;
    font-weight: 600;
}

.section-header button {
    background: none;
    border: none;
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.contents-grid {
    display: grid;
    grid-template-columns: auto-fit;
    grid-auto-flow: column;
    gap: 16px;
    padding: 0 16px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.contents-grid::-webkit-scrollbar {
    display: none;
}

.content-card {
    position: relative;
    width: 190px;
    height: 107px;
    border-radius: 9px;
    overflow: hidden;
    cursor: pointer;
    border: 0.8px solid rgba(255, 255, 255, 0.04);
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-youtube {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: 400;
    padding: 4px 6px;
    border-radius: 6px;
}

.content-data {
    font-size: 14px;
    font-weight: 400;
    color: rgb(238, 238, 238);
    max-width: 190px;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;  
    white-space-collapse: preserve-breaks; 
}

.content-item {
    display: flex;
    flex-direction: column;
}
















