/* 컨텐츠 포스트 - 비디오 */
.post-detalil {
}

.post-detalil-video {
    position: relative;
    width: 394px;
    height: 220px;
    align-items: center;
    background-color: #fa709a;
    margin-bottom: 4px;
}

.post-detalil-text {
    padding: 16px;
}

.post-detalil-title {
    font-size: 19px;
    font-weight: 700;
    color: #EEEEEE;
    margin-bottom: 5px;
}

.detalil-text-exp {
    font-size: 14px;
    font-weight: 500;
    color: #BABABA;
    margin-bottom: 8px;
}

.detalil-text-date {
    font-size: 12px;
    color: #999;
}
