.pop-feed {
    padding-top: 48px;
}

.pop-nick {
    font-size: 24px;
    font-weight: 600;
    color: rgb(238, 238, 238);
    padding: 24px;
}

.pop-chat {
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: 600;
    padding: 16px 24px 8px 24px;
}

.pop-list {
    padding: 6px 20px;
}

.pop-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 354px;
    height: auto;
    border-radius: 20px;
    padding: 12px 16px;
    background-color: rgba(112, 124, 160, 0.06);
    gap: 12px;
    cursor: pointer;
}

.pop-preview {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pop-info {
    display: flex;
    align-items: center;
    gap : 4px;
    margin-bottom: 2px;
}

.pop-name {
    color: rgb(238, 238, 238);
    font-size: 15px;
    font-weight: 500;
}

.pop-message {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;    
    overflow: hidden;
    text-overflow: ellipsis;
}

