.pop-header {
    padding: 20px 15px;
    border-bottom: 1px solid #1a1a1a;
    margin-bottom: 100px;
    padding-top: 47px;
}

.pop-section {
    padding-left: 9px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

.pop-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.pop-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 356px;
    height: 74px;
    border-radius: 12px;
    padding: 16px;
    background-color: #1A1B1D;
    gap: 12px;
}

.pop-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.pop-preview {
    flex: 1;
    min-width: 0;
}

.pop-info {
    display: flex;
    align-items: center;
    gap : 8px;
    margin-bottom: 6px;
}

.pop-name {
    color: #EEE;
    font-size: 14px;
    font-weight: 500;
}

.pop-message {
    color: #999;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

