/* 프로필 헤더 */
.profile-header {
    padding: 18px 36px 11px 15px;
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-image: url("https://doy-is-here.github.io/profile/profile.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border: 1px solid #D9D9DA;
    box-shadow: 0 0 0 2px #fff;
    margin-right: -1px;
}

.profile-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    transform: translateX(-10px); 
}


.profile-stats {
    flex: 1;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;  
}

.stat-number {
    font-size: 16px;
    font-weight: 600;
    color: #0B1014;
}

.stat-label {
    font-size: 13px;
    color: #0B1014;
}

/* 프로필 정보 */
.profile-info {
    padding: 0 0 10px 18px;
}

.profile-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    transform: translateX(-10px); /* 아이콘 때문에 실제 중앙 보정 */
}


.profile-username {
    font-size: 15px;
    color: #2C43EC;
    margin-bottom: 10px;
}


/* 프로필 버튼 */
.profile-actions {
    padding: 0 16px ;
    display: flex;
    gap: 7px;
}

/* 팔로잉 버튼 */
.profile-btn {
    flex: 1;
    padding: 7px;
    background: #EFF2F5;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;  
    color: #0B1014;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}

.profile-actions .profile-btn:first-child {
    padding-left: 14px; 
}


.icon-down {
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18L24 30L36 18' stroke='%230B1014' stroke-width='3.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(1.8px);
}

.profile-btn.small {
    flex: 0.2;
    width: 32px;
    padding: 0; 
}

.icon-follow {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75 13.25C5.75 13.6642 6.08579 14 6.5 14C6.91421 14 7.25 13.6642 7.25 13.25V11.75H8.75C9.16421 11.75 9.5 11.4142 9.5 11C9.5 10.5858 9.16421 10.25 8.75 10.25H7.25V8.75C7.25 8.33579 6.91421 8 6.5 8C6.08579 8 5.75 8.33579 5.75 8.75V10.25H4.25C3.83579 10.25 3.5 10.5858 3.5 11C3.5 11.4142 3.83579 11.75 4.25 11.75H5.75V13.25Z' fill='%230B1014'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 8.5C11 10.433 12.567 12 14.5 12C16.433 12 18 10.433 18 8.5C18 6.567 16.433 5 14.5 5C12.567 5 11 6.567 11 8.5ZM12.5 8.5C12.5 7.39543 13.3954 6.5 14.5 6.5C15.6046 6.5 16.5 7.39543 16.5 8.5C16.5 9.60457 15.6046 10.5 14.5 10.5C13.3954 10.5 12.5 9.60457 12.5 8.5Z' fill='%230B1014'/%3E%3Cpath d='M9 17.5C9 15.0147 11.0147 13 13.5 13H15.5C17.9853 13 20 15.0147 20 17.5V17.75C20 18.1642 19.6642 18.5 19.25 18.5C18.8358 18.5 18.5 18.1642 18.5 17.75V17.5C18.5 15.8431 17.1569 14.5 15.5 14.5H13.5C11.8431 14.5 10.5 15.8431 10.5 17.5V17.75C10.5 18.1642 10.1642 18.5 9.75 18.5C9.33579 18.5 9 18.1642 9 17.75V17.5Z' fill='%230B1014'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* 탭 메뉴 */
.profile-tabs {
    display: flex;
    border-bottom: 1px solid #EAEDF0;
    position: sticky;
    top: 0; 
    z-index: 20;
    background: #FFFFFF;
}

.tab-item {
    flex: 1;
    padding: 20px 12px 9px 12px; 
    text-align: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

/* 활성화된 탭 밑줄  */
.tab-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;      
    height: 2.4px;    
    background-color: #0B1014;
    transform: translateX(-50%); 
}

/* 탭 아이콘 */
.tab-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* 그리드 아이콘 - 미선택 (3x3 그리드 형태) */
.tab-icon.grid {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7998 1.22021C20.3519 1.22048 20.7998 1.66809 20.7998 2.22021V21.7798C20.7996 22.3317 20.3517 22.7795 19.7998 22.7798H4.2002C3.64803 22.7798 3.20039 22.3319 3.2002 21.7798V2.22021C3.2002 1.70254 3.59353 1.27643 4.09766 1.2251L4.2002 1.22021H19.7998ZM5.15039 16.23V20.8306H8.41016V16.23H5.15039ZM10.3604 16.23V20.8306H13.6396V16.23H10.3604ZM15.5898 16.23V20.8306H18.8506V16.23H15.5898ZM5.15039 14.2798H8.41016V9.69971H5.15039V14.2798ZM10.3604 14.2798H13.6396V9.69971H10.3604V14.2798ZM15.5898 14.2798H18.8506V9.69971H15.5898V14.2798ZM5.15039 7.74951H8.41016V3.17041H5.15039V7.74951ZM10.3604 7.74951H13.6396V3.17041H10.3604V7.74951ZM15.5898 7.74951H18.8506V3.17041H15.5898V7.74951Z' fill='%236A717A'/%3E%3C/svg%3E");
}

/* 그리드 아이콘 - 선택 (채워진 그리드) */
.tab-item.active .tab-icon.grid {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.91162 16.9004C7.37756 16.9006 7.7553 17.2762 7.75537 17.7402V21.9395C7.75536 22.4035 7.3776 22.7801 6.91162 22.7803H4.01904C3.55303 22.7801 3.1753 22.4035 3.17529 21.9395V17.7402C3.17536 17.2762 3.55307 16.9005 4.01904 16.9004H6.91162ZM13.4507 16.9004C13.9168 16.9004 14.2953 17.2761 14.2954 17.7402V21.9395C14.2954 22.4036 13.9168 22.7803 13.4507 22.7803H10.5591C10.093 22.7803 9.71534 22.4036 9.71533 21.9395V17.7402C9.7154 17.2761 10.093 16.9004 10.5591 16.9004H13.4507ZM19.981 16.9004C20.4471 16.9004 20.8246 17.2761 20.8247 17.7402V21.9395C20.8247 22.4036 20.4471 22.7803 19.981 22.7803H17.0894C16.6232 22.7803 16.2456 22.4036 16.2456 21.9395V17.7402C16.2457 17.2761 16.6233 16.9004 17.0894 16.9004H19.981ZM6.91162 9.05957C7.3776 9.05976 7.75537 9.43634 7.75537 9.90039V14.0996C7.7553 14.5636 7.37756 14.9393 6.91162 14.9395H4.01904C3.55307 14.9393 3.17537 14.5636 3.17529 14.0996V9.90039C3.1753 9.43631 3.55303 9.05972 4.01904 9.05957H6.91162ZM13.4507 9.05957C13.9168 9.05957 14.2954 9.43622 14.2954 9.90039V14.0996C14.2953 14.5637 13.9168 14.9395 13.4507 14.9395H10.5591C10.093 14.9394 9.7154 14.5637 9.71533 14.0996V9.90039C9.71534 9.43623 10.093 9.05959 10.5591 9.05957H13.4507ZM19.981 9.05957C20.4471 9.05957 20.8247 9.43622 20.8247 9.90039V14.0996C20.8246 14.5637 20.4471 14.9395 19.981 14.9395H17.0894C16.6233 14.9395 16.2457 14.5637 16.2456 14.0996V9.90039C16.2456 9.43622 16.6232 9.05957 17.0894 9.05957H19.981ZM6.91162 1.21973C7.3776 1.21992 7.75537 1.59649 7.75537 2.06055V6.25977C7.75517 6.72365 7.37748 7.09942 6.91162 7.09961H4.01904C3.55315 7.09946 3.1755 6.72368 3.17529 6.25977V2.06055C3.17529 1.59646 3.55303 1.21988 4.01904 1.21973H6.91162ZM13.4507 1.21973C13.9168 1.21973 14.2954 1.59637 14.2954 2.06055V6.25977C14.2952 6.72377 13.9167 7.09961 13.4507 7.09961H10.5591C10.0931 7.09959 9.71554 6.72376 9.71533 6.25977V2.06055C9.71533 1.59638 10.093 1.21975 10.5591 1.21973H13.4507ZM19.981 1.21973C20.4471 1.21973 20.8247 1.59637 20.8247 2.06055V6.25977C20.8245 6.72377 20.447 7.09961 19.981 7.09961H17.0894C16.6233 7.09961 16.2458 6.72377 16.2456 6.25977V2.06055C16.2456 1.59637 16.6232 1.21973 17.0894 1.21973H19.981Z' fill='%230B1014'/%3E%3C/svg%3E");
}


/* 태그 아이콘 - 미선택 (사람 실루엣 포함) */
.tab-icon.tagged {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55371 2.18744C10.7433 0.506327 13.2383 0.506173 14.4277 2.18744L15.3379 3.47455C15.5281 3.74348 15.8376 3.90326 16.167 3.90326H18.7998C21.0007 3.90326 22.7851 5.68776 22.7852 7.88861V19.0888C22.785 21.2895 21.0006 23.0732 18.7998 23.0732H5.2002C2.99945 23.0732 1.21502 21.2895 1.21484 19.0888V7.88861C1.21485 5.68776 2.99935 3.90326 5.2002 3.90326H7.81445C8.14379 3.90318 8.45335 3.74342 8.64355 3.47455L9.55371 2.18744ZM11.9805 18.1494C9.2765 18.1494 7.11167 19.4283 6.15918 21.1035H17.8008C16.8482 19.4285 14.6842 18.1494 11.9805 18.1494ZM12.8193 3.32513C12.4149 2.75356 11.5666 2.75371 11.1621 3.32513L10.252 4.61224C9.69249 5.40308 8.78317 5.87291 7.81445 5.87299H7.61035V5.87396H5.2002C4.08735 5.87396 3.18556 6.77576 3.18555 7.88861V19.0888C3.18567 19.8636 3.62347 20.535 4.26465 20.872C5.38631 18.1549 8.5186 16.3486 11.9805 16.3486C15.4489 16.3487 18.5842 18.1628 19.7002 20.8886C20.3606 20.5578 20.8153 19.8775 20.8154 19.0888V7.88861C20.8154 6.77576 19.9127 5.87396 18.7998 5.87396L16.5596 5.87299H16.167C15.1982 5.87299 14.289 5.40315 13.7295 4.61224L12.8193 3.32513ZM12.0098 6.34857C14.4398 6.34857 16.4102 8.31891 16.4102 10.749C16.4099 13.1788 14.4397 15.1494 12.0098 15.1494C9.57998 15.1492 7.60962 13.1787 7.60938 10.749C7.60938 8.31899 9.57982 6.3487 12.0098 6.34857ZM12.0098 8.14935C10.5739 8.14949 9.41016 9.3131 9.41016 10.749C9.4104 12.1846 10.5741 13.3484 12.0098 13.3486C13.4456 13.3486 14.6091 12.1847 14.6094 10.749C14.6094 9.31302 13.4457 8.14935 12.0098 8.14935Z' fill='%236A717A'/%3E%3C/svg%3E");
}

/* 태그 아이콘 - 선택 */
.tab-item.active .tab-icon.tagged {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55371 2.18744C10.7432 0.506286 13.2382 0.506286 14.4277 2.18744L15.3379 3.47456C15.5282 3.74339 15.8376 3.90328 16.167 3.90328H18.7998C21.0004 3.90328 22.7847 5.68719 22.7852 7.88769V19.088C22.7852 21.2889 21.0007 23.0734 18.7998 23.0734H5.2002C2.99934 23.0734 1.21484 21.2889 1.21484 19.088V7.88769C1.21529 5.68719 2.99961 3.90328 5.2002 3.90328H7.81445C8.14371 3.90327 8.45231 3.74325 8.64258 3.47456L9.55371 2.18744Z' fill='%230B1014'/%3E%3Cpath d='M11.9006 15.9486C8.63001 15.9486 5.90695 17.7614 4.77954 20.2484H19.0208C17.8934 17.7615 15.171 15.9487 11.9006 15.9486ZM11.9006 6.88899C9.96764 6.88899 8.40063 8.45599 8.40063 10.389C8.40098 12.3217 9.96785 13.889 11.9006 13.889C13.8332 13.8888 15.4003 12.3216 15.4006 10.389C15.4006 8.45612 13.8335 6.8892 11.9006 6.88899Z' fill='white'/%3E%3C/svg%3E");
}


/* 스토리 아이콘 - 미선택 (재생 버튼 포함) */
.tab-icon.story {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3765 1.20752C16.848 1.20753 17.9577 1.38727 18.8521 1.7251C19.6485 2.02599 20.2271 2.43511 20.7114 2.87256L20.9136 3.06201L20.938 3.08545C21.4462 3.61097 21.9311 4.23756 22.2749 5.14795C22.6124 6.0421 22.7914 7.15147 22.7915 8.62256V15.3774C22.7915 16.8493 22.6125 17.9588 22.2749 18.853C21.9311 19.7636 21.4461 20.3891 20.938 20.9146C20.9302 20.9227 20.9217 20.9311 20.9136 20.939C20.3879 21.4466 19.7623 21.931 18.8521 22.2749C17.9576 22.6128 16.8481 22.7925 15.3765 22.7925H8.62354C7.15231 22.7924 6.0432 22.6127 5.14893 22.2749C4.23865 21.931 3.61207 21.4467 3.08643 20.939C3.07835 20.9312 3.06981 20.9226 3.06201 20.9146C2.55404 20.3892 2.06981 19.7633 1.72607 18.853C1.43071 18.0706 1.25628 17.1231 1.21729 15.9126L1.2085 15.3774V8.62256C1.20856 7.15137 1.3885 6.04214 1.72607 5.14795C2.06984 4.23748 2.55382 3.611 3.06201 3.08545C3.06984 3.07737 3.07834 3.06983 3.08643 3.06201C3.61217 2.55418 4.23838 2.0691 5.14893 1.7251C6.04319 1.38734 7.15237 1.20758 8.62354 1.20752H15.3765ZM3.21826 8.10596C3.21239 8.26977 3.20851 8.44178 3.2085 8.62256V15.3774L3.21631 15.8501C3.25042 16.9036 3.39926 17.6216 3.59717 18.146C3.81492 18.7227 4.11277 19.1215 4.48779 19.5112C4.87849 19.8869 5.2776 20.1856 5.85498 20.4038C6.4546 20.6303 7.30704 20.7924 8.62354 20.7925H15.3765C16.6932 20.7925 17.5453 20.6304 18.145 20.4038C18.7204 20.1864 19.118 19.8889 19.5073 19.5151C19.8846 19.1238 20.1852 18.7251 20.4038 18.146C20.63 17.5466 20.7915 16.6944 20.7915 15.3774V8.62256C20.7915 8.44178 20.7886 8.26977 20.7827 8.10596H3.21826ZM10.2554 10.7466C10.4117 10.7466 10.5654 10.7875 10.7007 10.8657L15.1519 13.4351C15.2871 13.5131 15.3989 13.626 15.4771 13.7612C15.5551 13.8964 15.5971 14.0495 15.5972 14.2056C15.5972 14.3618 15.5552 14.5155 15.4771 14.6509C15.3989 14.7861 15.2871 14.899 15.1519 14.9771L10.7007 17.5464C10.5653 17.6245 10.4117 17.6655 10.2554 17.6655C10.099 17.6655 9.94547 17.6246 9.81006 17.5464V17.5454C9.67498 17.4674 9.56289 17.3553 9.48486 17.2202C9.40683 17.0849 9.36561 16.9311 9.36572 16.7749V11.6372C9.36554 11.4808 9.40677 11.3274 9.48486 11.1919C9.56289 11.0565 9.6748 10.9439 9.81006 10.8657C9.94537 10.7876 10.0991 10.7466 10.2554 10.7466ZM6.74951 3.35596C6.39771 3.42084 6.10426 3.50202 5.85498 3.59619C5.27531 3.81524 4.87506 4.11497 4.48291 4.49268C4.10993 4.88095 3.8142 5.27936 3.59717 5.854C3.56727 5.9332 3.53964 6.01745 3.51221 6.10596H8.3208L6.74951 3.35596ZM10.6245 6.10596H14.5493L12.8921 3.20752H8.96826L10.6245 6.10596ZM16.853 6.10596H20.4897C20.4623 6.0174 20.4337 5.93325 20.4038 5.854C20.1858 5.2768 19.8865 4.87868 19.5112 4.48877C19.1207 4.11344 18.7222 3.81425 18.145 3.59619C17.5453 3.3697 16.693 3.20753 15.3765 3.20752H15.1958L16.853 6.10596Z' fill='%236A717A'/%3E%3C/svg%3E");
}

/* 스토리 아이콘 - 선택 */
.tab-item.active .tab-icon.story {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6846 8.0752C22.7397 8.0752 22.7849 8.11976 22.7852 8.1748V16.6152C22.7851 20.0173 20.0172 22.7851 16.6152 22.7852H7.375C3.97302 22.7851 1.21493 20.0173 1.21484 16.6152V8.1748C1.21505 8.11976 1.26033 8.0752 1.31543 8.0752H22.6846ZM10.5967 11.4561C10.0634 11.1417 9.39062 11.5264 9.39062 12.1455V17.7451C9.39062 18.3642 10.0634 18.749 10.5967 18.4346L15.3457 15.6348C15.8707 15.3253 15.8707 14.5653 15.3457 14.2559L10.5967 11.4561ZM5.625 1.57715C5.71286 1.55708 5.80312 1.60119 5.84375 1.68164L8.00977 5.96973C8.04329 6.03611 7.99517 6.11494 7.9209 6.11523H1.35059C1.28344 6.11523 1.23551 6.05028 1.25586 5.98633C1.95376 3.80527 3.30347 2.10756 5.625 1.57715ZM12.9258 1.21484C12.9607 1.21498 12.9927 1.23381 13.0107 1.26367L15.8242 5.96387C15.8641 6.03052 15.816 6.11523 15.7383 6.11523H10.1719C10.0981 6.11523 10.0299 6.07476 9.99512 6.00977L7.5127 1.3623C7.47732 1.29573 7.52612 1.21484 7.60156 1.21484H12.9258ZM16.2607 1.21484C19.6144 1.21484 21.3651 2.77956 22.7266 5.97559C22.7545 6.04123 22.7061 6.11523 22.6348 6.11523H18.0088C17.9386 6.11523 17.8731 6.07868 17.8369 6.01855L15.0469 1.36621C15.0072 1.2996 15.0552 1.21484 15.1328 1.21484H16.2607Z' fill='%230B1014'/%3E%3C/svg%3E");
}


/* 리포스트 아이콘 - 미선택 (더 굵은 화살표) */
.tab-icon.repost {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3324 1.59781L16.0877 5.1478M16.0877 5.1478L12.3324 8.69778M16.0877 5.1478L8.19239 5.1377C7.13153 5.1377 6.11411 5.51915 5.36397 6.2693C4.61382 7.01944 4.15236 8.03686 4.15236 9.09772L4.15234 13.6122M11.6678 22.4022L7.91241 18.8522M7.91241 18.8522L11.6678 15.3022M7.91241 18.8522L15.8077 18.8623C16.8686 18.8623 17.886 18.4808 18.6362 17.7307C19.3863 16.9806 19.8478 15.9631 19.8478 14.9023L19.8478 10.3878' stroke='%236A717A' stroke-width='1.97' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* 리포스트 아이콘 - 선택 */
.tab-item.active .tab-icon.repost {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0522 21.8499L7.8623 18.8499M7.8623 18.8499L11.0522 15.8499M7.8623 18.8499L15.7576 18.8144C16.8185 18.8144 17.8359 18.433 18.586 17.6828C19.3362 16.9327 19.7977 15.9153 19.7977 14.8544V10.9803' stroke='%230B1014' stroke-width='2.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.9476 2.15006L16.1376 5.15006M16.1376 5.15006L12.9476 8.15006M16.1376 5.15006L8.24226 5.18556C7.18139 5.18556 6.16398 5.56701 5.41383 6.31716C4.66368 7.0673 4.20222 8.08472 4.20222 9.14558V13.0197' stroke='%230B1014' stroke-width='2.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}



.profile-tabs {
    position: sticky;
    top: 48px;
    z-index: 20;
    background: #FFFFFF; 
}

/* 탭 컨텐츠 컨테이너 */

.tabs-container {
    position: relative;
}

.tab-content {
    display: none; /* 비활성 탭 완전히 숨김 */
}

.tab-content.active {
    display: block; /* 활성 탭만 표시 */
}



/* 게시물 그리드 - 3:4 비율 */
.posts-grid.grid-34 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.posts-grid.grid-34 .grid-item {
    aspect-ratio: 3/4;
    background-color: #EFEFEF;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

/* 릴스 그리드 - 9:16 비율 */
.posts-grid.grid-916 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.posts-grid.grid-916 .grid-item {
    aspect-ratio: 9/16;
    background-color: #EFEFEF;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

/* 멀티 사진 아이콘 */
.multi-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3825 7.69556H10.2592C8.83943 7.69556 7.68848 8.84651 7.68848 10.2663V18.3896C7.68848 19.8094 8.83943 20.9603 10.2592 20.9603H18.3825C19.8023 20.9603 20.9533 19.8094 20.9533 18.3896V10.2663C20.9533 8.84651 19.8023 7.69556 18.3825 7.69556Z' fill='%23F8F8F9'/%3E%3Cpath d='M23.5482 11.8345C23.3685 11.5616 22.9435 11.679 22.9435 12.0073L22.9297 19.5501C22.9297 21.4125 21.4197 22.9225 19.5574 22.9225C19.5574 22.9225 14.1291 22.9225 11.9799 22.919C11.6517 22.919 11.5342 23.3406 11.8072 23.5202C12.557 24.0143 13.4553 24.3046 14.4194 24.3046H19.5574C22.1834 24.3046 24.3118 22.1761 24.3118 19.5501V14.4122C24.3118 13.462 24.0319 12.574 23.5482 11.8311V11.8345Z' fill='%23F8F8F9'/%3E%3C/svg%3E");
    background-size: contain;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.5));
}
/* 영상 아이콘 */
.video-icon {
    position: absolute;
    top: 7px;
    right: 7px;  /* 오른쪽 상단으로 변경 */
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6846 8.0752C22.7397 8.0752 22.7849 8.11976 22.7852 8.1748V16.6152C22.7851 20.0173 20.0172 22.7851 16.6152 22.7852H7.375C3.97302 22.7851 1.21493 20.0173 1.21484 16.6152V8.1748C1.21505 8.11976 1.26033 8.0752 1.31543 8.0752H22.6846ZM10.5967 11.4561C10.0634 11.1417 9.39062 11.5264 9.39062 12.1455V17.7451C9.39062 18.3642 10.0634 18.749 10.5967 18.4346L15.3457 15.6348C15.8707 15.3253 15.8707 14.5653 15.3457 14.2559L10.5967 11.4561ZM5.625 1.57715C5.71286 1.55708 5.80312 1.60119 5.84375 1.68164L8.00977 5.96973C8.04329 6.03611 7.99517 6.11494 7.9209 6.11523H1.35059C1.28344 6.11523 1.23551 6.05028 1.25586 5.98633C1.95376 3.80527 3.30347 2.10756 5.625 1.57715ZM12.9258 1.21484C12.9607 1.21498 12.9927 1.23381 13.0107 1.26367L15.8242 5.96387C15.8641 6.03052 15.816 6.11523 15.7383 6.11523H10.1719C10.0981 6.11523 10.0299 6.07476 9.99512 6.00977L7.5127 1.3623C7.47732 1.29573 7.52612 1.21484 7.60156 1.21484H12.9258ZM16.2607 1.21484C19.6144 1.21484 21.3651 2.77956 22.7266 5.97559C22.7545 6.04123 22.7061 6.11523 22.6348 6.11523H18.0088C17.9386 6.11523 17.8731 6.07868 17.8369 6.01855L15.0469 1.36621C15.0072 1.2996 15.0552 1.21484 15.1328 1.21484H16.2607Z' fill='%23ffffff'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    z-index: 2;
}

/* 그리드 비디오 스타일 */
.grid-item-video {
    overflow: hidden;
    background: #000000;
}

.grid-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none; /* 클릭 이벤트는 부모로 전달 */
}

/* 비디오 컨트롤 숨기기 */
.grid-video::-webkit-media-controls {
    display: none !important;
}

.grid-video::-webkit-media-controls-enclosure {
    display: none !important;
}

/* 그리드 비디오와 아이콘은 클릭 이벤트 차단하지 않음 */
.posts-grid .grid-video {
    pointer-events: none;
}

.posts-grid .multi-icon,
.posts-grid .video-icon,
.posts-grid .reel-icon {
    pointer-events: none;
}

