/* 상단바 (게시물 / 아이디 중앙 정렬) */

.post-topbar {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 100;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

/* 왼쪽(뒤로가기), 오른쪽(메뉴) 버튼 */
.post-topbar .left-bt{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.29289 11.312C5.90237 11.7025 5.90237 12.3356 6.29289 12.7262C6.32736 12.7606 6.36373 12.7921 6.40165 12.8205C6.42838 12.8554 6.45774 12.889 6.48971 12.921L13.2928 19.726C13.6833 20.1166 14.3164 20.1167 14.707 19.7263C15.0976 19.3358 15.0977 18.7026 14.7072 18.312L8.41512 12.0181L14.9762 5.45711C15.3667 5.06658 15.3667 4.43342 14.9762 4.04289C14.5856 3.65237 13.9525 3.65237 13.562 4.04289L6.29289 11.312Z' fill='%230C0F14'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.post-topbar .right-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}

/* 가운데 제목 */
.post-topbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: 600;
    color: #0C0F14;
    top: 6px;
}

/* 가운데 부제목(아이디) */
.post-topbar-subtitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23px;
    font-size: 12px;
    color: #0C0F14;
}

.post-title {
    display: none; /* 기존 구조 숨김 */
}