/* 프로필 헤더 */
.profile-header {
    padding: 16px 45px 20px 19px;
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 84px;
    height: 85px;
    border-radius: 50%;
    background-color: #E1E8ED;
    background-size: cover;
    background-position: center;
}

.profile-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    transform: translateX(-10px); 
}


.profile-stats {
    flex: 1;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;  
}

.stat-number {
    font-size: 16px;
    font-weight: 600;
    color: #0B1014;
}

.stat-label {
    font-size: 13px;
    color: #0B1014;
}

/* 프로필 정보 */
.profile-info {
    padding: 0 18px 12px;
}

.profile-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    transform: translateX(-10px); /* 아이콘 때문에 실제 중앙 보정 */
}


.profile-username {
    font-size: 15px;
    color: #2C43EC;
    margin-bottom: 10px;
}


/* 프로필 버튼 */
.profile-actions {
    padding: 0 18px 12px;
    display: flex;
    gap: 6px;
}

/* 팔로잉 버튼 */
.profile-btn {
    flex: 1;
    padding: 6px;
    background: #EFF2F5;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.profile-btn.small {
    flex: 0.3;
    width: 32px;
    padding: 0; 
}

.icon-down {
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18L24 30L36 18' stroke='%230B1014' stroke-width='3.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-follow {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75 13.25C5.75 13.6642 6.08579 14 6.5 14C6.91421 14 7.25 13.6642 7.25 13.25V11.75H8.75C9.16421 11.75 9.5 11.4142 9.5 11C9.5 10.5858 9.16421 10.25 8.75 10.25H7.25V8.75C7.25 8.33579 6.91421 8 6.5 8C6.08579 8 5.75 8.33579 5.75 8.75V10.25H4.25C3.83579 10.25 3.5 10.5858 3.5 11C3.5 11.4142 3.83579 11.75 4.25 11.75H5.75V13.25Z' fill='%230B1014'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 8.5C11 10.433 12.567 12 14.5 12C16.433 12 18 10.433 18 8.5C18 6.567 16.433 5 14.5 5C12.567 5 11 6.567 11 8.5ZM12.5 8.5C12.5 7.39543 13.3954 6.5 14.5 6.5C15.6046 6.5 16.5 7.39543 16.5 8.5C16.5 9.60457 15.6046 10.5 14.5 10.5C13.3954 10.5 12.5 9.60457 12.5 8.5Z' fill='%230B1014'/%3E%3Cpath d='M9 17.5C9 15.0147 11.0147 13 13.5 13H15.5C17.9853 13 20 15.0147 20 17.5V17.75C20 18.1642 19.6642 18.5 19.25 18.5C18.8358 18.5 18.5 18.1642 18.5 17.75V17.5C18.5 15.8431 17.1569 14.5 15.5 14.5H13.5C11.8431 14.5 10.5 15.8431 10.5 17.5V17.75C10.5 18.1642 10.1642 18.5 9.75 18.5C9.33579 18.5 9 18.1642 9 17.75V17.5Z' fill='%230B1014'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* 탭 메뉴 */
.profile-tabs {
    display: flex;
    border-bottom: 1px solid #DBDBDB;
}

.tab-item {
    flex: 1;
    padding: 18px 12px 11px 12px; 
    text-align: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

/* 활성화된 탭 밑줄  */
.tab-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;      
    height: 2.5px;    
    background-color: #0B1014;
    transform: translateX(-50%); 
}

/* 탭 아이콘 */
.tab-icon {
    width: 30px;  
    height: 30px; 
    
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

    background-color: #6A717A; 
}

.tab-item.active .tab-icon {
    background-color: #0B1014;
}


.tab-icon.grid {
    transform: scaleY(1.2); 
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.25 3.75C3.25 3.47386 3.47386 3.25 3.75 3.25H7.25C7.52614 3.25 7.75 3.47386 7.75 3.75V7.25C7.75 7.52614 7.52614 7.75 7.25 7.75H3.75C3.47386 7.75 3.25 7.52614 3.25 7.25V3.75Z'/%3E%3Cpath d='M3.25 10.25C3.25 9.97386 3.47386 9.75 3.75 9.75H7.25C7.52614 9.75 7.75 9.97386 7.75 10.25V13.75C7.75 14.0261 7.52614 14.25 7.25 14.25H3.75C3.47386 14.25 3.25 14.0261 3.25 13.75V10.25Z'/%3E%3Cpath d='M3.75 16.25C3.47386 16.25 3.25 16.4739 3.25 16.75V20.25C3.25 20.5261 3.47386 20.75 3.75 20.75H7.25C7.52614 20.75 7.75 20.5261 7.75 20.25V16.75C7.75 16.4739 7.52614 16.25 7.25 16.25H3.75Z'/%3E%3Cpath d='M9.75 3.75C9.75 3.47386 9.97386 3.25 10.25 3.25H13.75C14.0261 3.25 14.25 3.47386 14.25 3.75V7.25C14.25 7.52614 14.0261 7.75 13.75 7.75H10.25C9.97386 7.75 9.75 7.52614 9.75 7.25V3.75Z'/%3E%3Cpath d='M10.25 9.75C9.97386 9.75 9.75 9.97386 9.75 10.25V13.75C9.75 14.0261 9.97386 14.25 10.25 14.25H13.75C14.0261 14.25 14.25 14.0261 14.25 13.75V10.25C14.25 9.97386 14.0261 9.75 13.75 9.75H10.25Z'/%3E%3Cpath d='M9.75 16.75C9.75 16.4739 9.97386 16.25 10.25 16.25H13.75C14.0261 16.25 14.25 16.4739 14.25 16.75V20.25C14.25 20.5261 14.0261 20.75 13.75 20.75H10.25C9.97386 20.75 9.75 20.5261 9.75 20.25V16.75Z'/%3E%3Cpath d='M16.75 3.25C16.4739 3.25 16.25 3.47386 16.25 3.75V7.25C16.25 7.52614 16.4739 7.75 16.75 7.75H20.25C20.5261 7.75 20.75 7.52614 20.75 7.25V3.75C20.75 3.47386 20.5261 3.25 20.25 3.25H16.75Z'/%3E%3Cpath d='M16.25 10.25C16.25 9.97386 16.4739 9.75 16.75 9.75H20.25C20.5261 9.75 20.75 9.97386 20.75 10.25V13.75C20.75 14.0261 20.5261 14.25 20.25 14.25H16.75C16.4739 14.25 16.25 14.0261 16.25 13.75V10.25Z'/%3E%3Cpath d='M16.75 16.25C16.4739 16.25 16.25 16.4739 16.25 16.75V20.25C16.25 20.5261 16.4739 20.75 16.75 20.75H20.25C20.5261 20.75 20.75 20.5261 20.75 20.25V16.75C20.75 16.4739 20.5261 16.25 20.25 16.25H16.75Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.25 3.75C3.25 3.47386 3.47386 3.25 3.75 3.25H7.25C7.52614 3.25 7.75 3.47386 7.75 3.75V7.25C7.75 7.52614 7.52614 7.75 7.25 7.75H3.75C3.47386 7.75 3.25 7.52614 3.25 7.25V3.75Z'/%3E%3Cpath d='M3.25 10.25C3.25 9.97386 3.47386 9.75 3.75 9.75H7.25C7.52614 9.75 7.75 9.97386 7.75 10.25V13.75C7.75 14.0261 7.52614 14.25 7.25 14.25H3.75C3.47386 14.25 3.25 14.0261 3.25 13.75V10.25Z'/%3E%3Cpath d='M3.75 16.25C3.47386 16.25 3.25 16.4739 3.25 16.75V20.25C3.25 20.5261 3.47386 20.75 3.75 20.75H7.25C7.52614 20.75 7.75 20.5261 7.75 20.25V16.75C7.75 16.4739 7.52614 16.25 7.25 16.25H3.75Z'/%3E%3Cpath d='M9.75 3.75C9.75 3.47386 9.97386 3.25 10.25 3.25H13.75C14.0261 3.25 14.25 3.47386 14.25 3.75V7.25C14.25 7.52614 14.0261 7.75 13.75 7.75H10.25C9.97386 7.75 9.75 7.52614 9.75 7.25V3.75Z'/%3E%3Cpath d='M10.25 9.75C9.97386 9.75 9.75 9.97386 9.75 10.25V13.75C9.75 14.0261 9.97386 14.25 10.25 14.25H13.75C14.0261 14.25 14.25 14.0261 14.25 13.75V10.25C14.25 9.97386 14.0261 9.75 13.75 9.75H10.25Z'/%3E%3Cpath d='M9.75 16.75C9.75 16.4739 9.97386 16.25 10.25 16.25H13.75C14.0261 16.25 14.25 16.4739 14.25 16.75V20.25C14.25 20.5261 14.0261 20.75 13.75 20.75H10.25C9.97386 20.75 9.75 20.5261 9.75 20.25V16.75Z'/%3E%3Cpath d='M16.75 3.25C16.4739 3.25 16.25 3.47386 16.25 3.75V7.25C16.25 7.52614 16.4739 7.75 16.75 7.75H20.25C20.5261 7.75 20.75 7.52614 20.75 7.25V3.75C20.75 3.47386 20.5261 3.25 20.25 3.25H16.75Z'/%3E%3Cpath d='M16.25 10.25C16.25 9.97386 16.4739 9.75 16.75 9.75H20.25C20.5261 9.75 20.75 9.97386 20.75 10.25V13.75C20.75 14.0261 20.5261 14.25 20.25 14.25H16.75C16.4739 14.25 16.25 14.0261 16.25 13.75V10.25Z'/%3E%3Cpath d='M16.75 16.25C16.4739 16.25 16.25 16.4739 16.25 16.75V20.25C16.25 20.5261 16.4739 20.75 16.75 20.75H20.25C20.5261 20.75 20.75 20.5261 20.75 20.25V16.75C20.75 16.4739 20.5261 16.25 20.25 16.25H16.75Z'/%3E%3C/svg%3E");
}

.tab-icon.reels {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8 14.1322C15.0667 14.2957 15.0667 14.7043 14.8 14.8678L10.6 17.4425C10.3333 17.6059 10 17.4016 10 17.0747L10 11.9253C10 11.5984 10.3333 11.3941 10.6 11.5575L14.8 14.1322Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2C4.68629 2 2 4.68629 2 8V16C2 19.3137 4.68629 22 8 22H16C19.3137 22 22 19.3137 22 16V8C22 4.68629 19.3137 2 16 2H8ZM16 4H14.7663L16.5663 7H19.874C19.4299 5.27477 17.8638 4 16 4ZM20 9H4V16C4 18.2091 5.79086 20 8 20H16C18.2091 20 20 18.2091 20 16V9ZM4.12602 7H8.23381L6.58769 4.25647C5.3805 4.71213 4.45161 5.73497 4.12602 7ZM10.5662 7H14.2339L12.4339 4H8.76619L10.5662 7Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8 14.1322C15.0667 14.2957 15.0667 14.7043 14.8 14.8678L10.6 17.4425C10.3333 17.6059 10 17.4016 10 17.0747L10 11.9253C10 11.5984 10.3333 11.3941 10.6 11.5575L14.8 14.1322Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2C4.68629 2 2 4.68629 2 8V16C2 19.3137 4.68629 22 8 22H16C19.3137 22 22 19.3137 22 16V8C22 4.68629 19.3137 2 16 2H8ZM16 4H14.7663L16.5663 7H19.874C19.4299 5.27477 17.8638 4 16 4ZM20 9H4V16C4 18.2091 5.79086 20 8 20H16C18.2091 20 20 18.2091 20 16V9ZM4.12602 7H8.23381L6.58769 4.25647C5.3805 4.71213 4.45161 5.73497 4.12602 7ZM10.5662 7H14.2339L12.4339 4H8.76619L10.5662 7Z'/%3E%3C/svg%3E");
}

.tab-icon.tagged {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 11C8 8.79091 9.79086 7.00005 12 7.00005C14.2091 7.00005 16 8.79091 16 11C16 13.2092 14.2091 15 12 15C9.79086 15 8 13.2092 8 11ZM12 9.00005C10.8954 9.00005 10 9.89548 10 11C10 12.1046 10.8954 13 12 13C13.1046 13 14 12.1046 14 11C14 9.89548 13.1046 9.00005 12 9.00005Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5477 2.27697C11.842 2.18388 12.158 2.18388 12.4523 2.27697C12.6894 2.35197 12.8612 2.47919 12.9743 2.57495C13.0718 2.65751 13.174 2.7598 13.2596 2.84547L14.4142 4.00005L17.8192 4.00005C18.3552 4.00003 18.8176 4.00001 19.1983 4.03162C19.6002 4.065 19.9997 4.13872 20.3829 4.33781C20.9309 4.62243 21.3776 5.06919 21.6622 5.61712C21.8613 6.00039 21.935 6.39986 21.9684 6.80175C22 7.1824 22 7.6448 22 8.1808V17.8192C22 18.3552 22 18.8177 21.9684 19.1983C21.935 19.6002 21.8613 19.9997 21.6622 20.383C21.3776 20.9309 20.9309 21.3777 20.3829 21.6623C19.9997 21.8614 19.6002 21.9351 19.1983 21.9685C18.8176 22.0001 18.3553 22.0001 17.8193 22H6.18083C5.64482 22.0001 5.18236 22.0001 4.8017 21.9685C4.39982 21.9351 4.00035 21.8614 3.61708 21.6623C3.06915 21.3777 2.62239 20.9309 2.33776 20.383C2.13867 19.9997 2.06495 19.6002 2.03158 19.1983C1.99997 18.8177 1.99998 18.3553 2 17.8193V8.18084C1.99998 7.64482 1.99997 7.18241 2.03158 6.80175C2.06495 6.39986 2.13867 6.00039 2.33776 5.61712C2.62239 5.06919 3.06915 4.62243 3.61708 4.33781C4.00035 4.13872 4.39982 4.065 4.8017 4.03162C5.18237 4.00001 5.64478 4.00003 6.1808 4.00005L9.58579 4.00005L10.7403 2.84551C10.8259 2.75984 10.9282 2.65753 11.0257 2.57495C11.1388 2.47919 11.3106 2.35197 11.5477 2.27697ZM12 4.41426L10.4142 6.00005H6.22C5.63373 6.00005 5.25517 6.00085 4.96722 6.02476C4.69125 6.04768 4.58924 6.08655 4.53903 6.11263C4.35638 6.20751 4.20746 6.35643 4.11259 6.53907C4.08651 6.58928 4.04764 6.69129 4.02472 6.96727C4.00081 7.25521 4 7.63377 4 8.22005V17.78C4 18.3663 4.00081 18.7449 4.02472 19.0328C4.04764 19.3088 4.08651 19.4108 4.11259 19.461C4.20746 19.6437 4.35638 19.7926 4.53903 19.8875C4.58924 19.9135 4.69125 19.9524 4.96722 19.9753C5.00705 19.9786 5.04861 19.9815 5.09221 19.984C5.53633 17.7133 7.53186 16.0001 9.92641 16.0001H14.0736C16.4681 16.0001 18.4637 17.7133 18.9078 19.984C18.9514 19.9815 18.993 19.9786 19.0328 19.9753C19.3088 19.9524 19.4108 19.9135 19.461 19.8875C19.6436 19.7926 19.7925 19.6437 19.8874 19.461C19.9135 19.4108 19.9524 19.3088 19.9753 19.0328C19.9992 18.7449 20 18.3663 20 17.78V8.22005C20 7.63377 19.9992 7.25521 19.9753 6.96727C19.9524 6.69129 19.9135 6.58928 19.8874 6.53907C19.7925 6.35643 19.6436 6.20751 19.461 6.11263C19.4108 6.08655 19.3088 6.04768 19.0328 6.02476C18.7448 6.00085 18.3663 6.00005 17.78 6.00005H13.5858L12 4.41426ZM16.8777 20C16.4857 18.8239 15.3784 17.9761 14.0736 17.9761H9.92641C8.62164 17.9761 7.51433 18.8239 7.12234 20H16.8777Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 11C8 8.79091 9.79086 7.00005 12 7.00005C14.2091 7.00005 16 8.79091 16 11C16 13.2092 14.2091 15 12 15C9.79086 15 8 13.2092 8 11ZM12 9.00005C10.8954 9.00005 10 9.89548 10 11C10 12.1046 10.8954 13 12 13C13.1046 13 14 12.1046 14 11C14 9.89548 13.1046 9.00005 12 9.00005Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5477 2.27697C11.842 2.18388 12.158 2.18388 12.4523 2.27697C12.6894 2.35197 12.8612 2.47919 12.9743 2.57495C13.0718 2.65751 13.174 2.7598 13.2596 2.84547L14.4142 4.00005L17.8192 4.00005C18.3552 4.00003 18.8176 4.00001 19.1983 4.03162C19.6002 4.065 19.9997 4.13872 20.3829 4.33781C20.9309 4.62243 21.3776 5.06919 21.6622 5.61712C21.8613 6.00039 21.935 6.39986 21.9684 6.80175C22 7.1824 22 7.6448 22 8.1808V17.8192C22 18.3552 22 18.8177 21.9684 19.1983C21.935 19.6002 21.8613 19.9997 21.6622 20.383C21.3776 20.9309 20.9309 21.3777 20.3829 21.6623C19.9997 21.8614 19.6002 21.9351 19.1983 21.9685C18.8176 22.0001 18.3553 22.0001 17.8193 22H6.18083C5.64482 22.0001 5.18236 22.0001 4.8017 21.9685C4.39982 21.9351 4.00035 21.8614 3.61708 21.6623C3.06915 21.3777 2.62239 20.9309 2.33776 20.383C2.13867 19.9997 2.06495 19.6002 2.03158 19.1983C1.99997 18.8177 1.99998 18.3553 2 17.8193V8.18084C1.99998 7.64482 1.99997 7.18241 2.03158 6.80175C2.06495 6.39986 2.13867 6.00039 2.33776 5.61712C2.62239 5.06919 3.06915 4.62243 3.61708 4.33781C4.00035 4.13872 4.39982 4.065 4.8017 4.03162C5.18237 4.00001 5.64478 4.00003 6.1808 4.00005L9.58579 4.00005L10.7403 2.84551C10.8259 2.75984 10.9282 2.65753 11.0257 2.57495C11.1388 2.47919 11.3106 2.35197 11.5477 2.27697ZM12 4.41426L10.4142 6.00005H6.22C5.63373 6.00005 5.25517 6.00085 4.96722 6.02476C4.69125 6.04768 4.58924 6.08655 4.53903 6.11263C4.35638 6.20751 4.20746 6.35643 4.11259 6.53907C4.08651 6.58928 4.04764 6.69129 4.02472 6.96727C4.00081 7.25521 4 7.63377 4 8.22005V17.78C4 18.3663 4.00081 18.7449 4.02472 19.0328C4.04764 19.3088 4.08651 19.4108 4.11259 19.461C4.20746 19.6437 4.35638 19.7926 4.53903 19.8875C4.58924 19.9135 4.69125 19.9524 4.96722 19.9753C5.00705 19.9786 5.04861 19.9815 5.09221 19.984C5.53633 17.7133 7.53186 16.0001 9.92641 16.0001H14.0736C16.4681 16.0001 18.4637 17.7133 18.9078 19.984C18.9514 19.9815 18.993 19.9786 19.0328 19.9753C19.3088 19.9524 19.4108 19.9135 19.461 19.8875C19.6436 19.7926 19.7925 19.6437 19.8874 19.461C19.9135 19.4108 19.9524 19.3088 19.9753 19.0328C19.9992 18.7449 20 18.3663 20 17.78V8.22005C20 7.63377 19.9992 7.25521 19.9753 6.96727C19.9524 6.69129 19.9135 6.58928 19.8874 6.53907C19.7925 6.35643 19.6436 6.20751 19.461 6.11263C19.4108 6.08655 19.3088 6.04768 19.0328 6.02476C18.7448 6.00085 18.3663 6.00005 17.78 6.00005H13.5858L12 4.41426ZM16.8777 20C16.4857 18.8239 15.3784 17.9761 14.0736 17.9761H9.92641C8.62164 17.9761 7.51433 18.8239 7.12234 20H16.8777Z'/%3E%3C/svg%3E");
}


/* 게시물 그리드 */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding-bottom: 60px;
}

.grid-item {
    aspect-ratio: 3/4;
    background-color: #EFEFEF;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}