/* 상단 헤더 */
.insta-header {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    padding: 0 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header-back {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.29289 11.312C5.90237 11.7025 5.90237 12.3356 6.29289 12.7262C6.32736 12.7606 6.36373 12.7921 6.40165 12.8205C6.42838 12.8554 6.45774 12.889 6.48971 12.921L13.2928 19.726C13.6833 20.1166 14.3164 20.1167 14.707 19.7263C15.0976 19.3358 15.0977 18.7026 14.7072 18.312L8.41512 12.0181L14.9762 5.45711C15.3667 5.06658 15.3667 4.43342 14.9762 4.04289C14.5856 3.65237 13.9525 3.65237 13.562 4.04289L6.29289 11.312Z' fill='%230B1014'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-title {
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transform: translateY(-1px);
}

.header-subtitle {
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 400;
}

.header-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* 종 아이콘 */
.header-icon.bell {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1032 20.2707C26.1032 19.8595 25.9373 18.5673 25.54 17.9522L25.4985 17.8866C24.5587 16.4284 23.992 15.5508 24.0992 14.0512C24.1061 13.9476 24.1095 13.8508 24.1095 13.7541C24.1095 10.5234 22.2333 7.65552 19.2998 6.35288C18.5638 5.26793 17.3303 4.60797 16.0035 4.60797C14.6766 4.60797 13.4431 5.26793 12.7071 6.35288C9.77359 7.65552 7.89738 10.5234 7.89738 13.7541C7.89738 13.8439 7.89739 13.9337 7.90776 14.0305C8.00451 15.5093 7.54841 16.2246 6.54638 17.7933L6.47036 17.9142C6.09028 18.5085 5.88641 19.7766 5.88641 20.2603C5.88641 22.4061 7.58986 24.1579 9.7114 24.2408C9.76668 24.2512 9.82197 24.2546 9.88071 24.2546H12.1197C12.4203 25.6437 13.4051 26.7735 14.7492 27.1951C15.1673 27.3264 15.5923 27.392 16.0104 27.392C16.8534 27.392 17.6723 27.1294 18.3668 26.6215C19.1546 26.0445 19.6971 25.1945 19.901 24.2581H22.3611V24.2443C24.4481 24.1233 26.1136 22.3888 26.1136 20.2707H26.1032ZM17.1299 24.9491C16.622 25.3223 15.9931 25.4156 15.3608 25.2187C14.884 25.0701 14.5073 24.7176 14.2896 24.2546H17.7173C17.5825 24.5241 17.3855 24.7626 17.1333 24.9491H17.1299ZM22.1262 22.1815H10.0293C9.97054 22.1711 9.92218 22.1677 9.84962 22.1711C8.80267 22.1642 7.95268 21.3073 7.95268 20.2603C7.95268 19.9977 8.11162 19.2238 8.21182 19.0303L8.28783 18.9128C9.3486 17.2543 10.1122 16.0518 9.97055 13.8957C9.97055 13.8474 9.96709 13.799 9.96709 13.7541C9.96709 11.2628 11.4701 9.05836 13.7921 8.14271C14.0167 8.05287 14.2067 7.88702 14.3207 7.67625C14.6559 7.06121 15.2986 6.67768 16 6.67768C16.7014 6.67768 17.3441 7.06121 17.6793 7.67625C17.7967 7.89048 17.9833 8.05633 18.2079 8.14271C20.5333 9.05836 22.0329 11.2594 22.0329 13.7541C22.0329 13.8024 22.0329 13.8543 22.026 13.9061C21.8705 16.0933 22.7412 17.4478 23.7536 19.013L23.7847 19.0579C23.8849 19.2549 24.03 20.0116 24.03 20.2707C24.03 21.3211 23.1766 22.178 22.1262 22.1815Z' fill='%230B1014'/%3E%3Cpath d='M18.3636 12.8177L14.8496 16.3144L13.5124 14.9668C13.1081 14.5591 12.4516 14.5557 12.0473 14.9599C11.6396 15.3642 11.6362 16.0207 12.0404 16.425L14.1067 18.512C14.3002 18.7089 14.5628 18.8195 14.8392 18.8195H14.8427C15.1156 18.8195 15.3782 18.7124 15.5752 18.5189L19.8252 14.2896C20.2294 13.8853 20.2329 13.2288 19.8252 12.8246C19.4209 12.4203 18.7644 12.4169 18.3601 12.8246L18.3636 12.8177Z' fill='%230B1014'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* 점 3개 아이콘 */
.header-icon.dots {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13.5C7.82843 13.5 8.5 12.8284 8.5 12C8.5 11.1716 7.82843 10.5 7 10.5C6.17157 10.5 5.5 11.1716 5.5 12C5.5 12.8284 6.17157 13.5 7 13.5Z' fill='%230B1014'/%3E%3Cpath d='M13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z' fill='%230B1014'/%3E%3Cpath d='M18.5 12C18.5 12.8284 17.8284 13.5 17 13.5C16.1716 13.5 15.5 12.8284 15.5 12C15.5 11.1716 16.1716 10.5 17 10.5C17.8284 10.5 18.5 11.1716 18.5 12Z' fill='%230B1014'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
