/* 날짜 구분 바 */
.date-divider {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    background-color: transparent;
}

.date-badge {
    background-color: #D3D9EE;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 10px;
    color: #2A2B2F;
    text-align: center;
    margin-bottom: 20px;
}

/* 채팅 영역 */
.chat-messages {
    padding: 18px;
    background-color: #C9D0EA;
}

.message-group {
    margin-bottom: 14px;
}

.message-row {
    display: flex;
    gap: 7px;
    margin-bottom: 4px;
}

.message-row.continued {
    margin-bottom: 4px;
    margin-left: 35px;  
}

/* 프로필 사진 */
.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("https://doy-is-here.github.io/profile/profile.PNG");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.message-content {
    flex: 1;
}

.message-header {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
    padding-left: 0px;
}

/* 발신자 정보 */
.sender-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sender-name {
    font-size: 12.5px;
    font-weight: 500;
    color: #28292F;
}

.check-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.37644 0.619251C6.30085 -0.206473 7.69806 -0.206361 8.62253 0.619251L9.36667 1.28429L10.3637 1.34093C11.6014 1.41062 12.5898 2.39821 12.6596 3.63585L12.7153 4.63195L13.3803 5.37609C14.2064 6.30058 14.2064 7.69861 13.3803 8.62316L12.7153 9.3673L12.6596 10.3634C12.59 11.6012 11.6016 12.5906 10.3637 12.6603L9.36667 12.7159L8.62253 13.381C7.69804 14.2065 6.30082 14.2067 5.37644 13.381L4.6323 12.7159L3.6362 12.6603C2.3983 12.5906 1.4099 11.6013 1.34031 10.3634L1.28366 9.3673L0.619602 8.62316C-0.206534 7.69861 -0.206534 6.30063 0.619602 5.37609L1.28366 4.63195L1.34031 3.63585C1.41011 2.39818 2.39846 1.41056 3.6362 1.34093L4.6323 1.28429L5.37644 0.619251ZM10.5385 4.02355C10.2382 3.78059 9.79746 3.82704 9.55417 4.12706L6.07859 8.41906L4.68503 7.0255C4.41171 6.75221 3.96817 6.75228 3.6948 7.0255C3.42177 7.29889 3.42157 7.74248 3.6948 8.01574L5.63913 9.96007C5.64727 9.9682 5.65805 9.97391 5.66648 9.98156C5.6756 9.98978 5.68319 10.0001 5.69284 10.0079C5.70136 10.0148 5.71246 10.0191 5.72116 10.0255C5.74219 10.041 5.76335 10.0556 5.78562 10.0685C5.80292 10.0784 5.82049 10.0875 5.83835 10.0958C5.86117 10.1065 5.88406 10.116 5.90769 10.1241C5.92736 10.1308 5.94722 10.1368 5.96726 10.1417C5.99332 10.1481 6.01985 10.152 6.04636 10.1554C6.06268 10.1574 6.0788 10.1594 6.09519 10.1603C6.1243 10.1619 6.15301 10.1613 6.1821 10.1593C6.19681 10.1583 6.21144 10.1573 6.22605 10.1554C6.25831 10.1511 6.29022 10.1446 6.32175 10.1359C6.331 10.1333 6.33995 10.13 6.34909 10.1271C6.38145 10.1166 6.41297 10.1042 6.44382 10.089C6.45689 10.0825 6.47018 10.0758 6.48288 10.0685C6.50856 10.0537 6.53308 10.037 6.5571 10.0187C6.56884 10.0097 6.58004 10.0002 6.59128 9.99035C6.60329 9.97988 6.61793 9.97148 6.62937 9.96007C6.64247 9.94696 6.65272 9.931 6.66452 9.9171C6.66827 9.9127 6.67354 9.90892 6.67722 9.90441L10.6421 5.0089C10.8851 4.70851 10.8388 4.2668 10.5385 4.02355Z' fill='%2328292F'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 13px;
    height: 13px;
}

.message-time {
    font-size: 9.7px;
    color: #28292F;
}

/* 채팅창 영역 */
.message-bubble {
    background-color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    max-width: 260px;
    margin-left: 0px;
    display: inline-block;
}

.message-bubble.small {
    padding: 6px 12px 6px 12px;
    border-radius: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.message-text {
    font-size: 14.7px;
    line-height: 22px;
    color: #151515;
    word-wrap: break-word;
}

/* 답장 */
.reply-bubble {
    background-color: #FFFFFF;
    padding: 10px 12px 8px 12px;
    border-radius: 20px;
    max-width: 239px;
    margin-left: 0px;
    display: inline-block;
}

.reply-header {
    font-size: 13px;
    font-weight: 550;
    color: #454545;
    margin-bottom: 2px;
}

.reply-quoted {
    font-size: 13px;
    color: #999999;
    margin-bottom: 6px;
}

.reply-text {
    font-size: 14.7px;
    line-height: 22px;
    color: #000000;
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.reply-arrow {
    display: inline-block;
    width: 14.5px;
    height: 14.5px;
    flex-shrink: 0;
    transform: translateY(3px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M30 20L40 30M40 30L30 40M40 30H16C13.8783 30 11.8434 29.1571 10.3431 27.6569C8.84285 26.1566 8 24.1217 8 22V8' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}